<%- include('partials/header') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main class="flex flex-col justify-around w-screen h-fit items-center bg-auto bg-repeat bg-center animate-ltr-linear-infinite" style="background-image: url(/imgs/dandelionBackground2.png)">

  <% if(!budget){ %> 
    <div class="card w-full md:w-3/5 lg:w-2/5 bg-secondary text-secondary-content shadow-xl p-5 my-10">
      <div class="flex flex-column justify-center card-body items-center text-center">
        <div class="flex justify-between w-full mb-5">
          <div class="justify-start w-10">
            <a class="fa-solid fa-chevron-left text-2xl w-10 hover:text-base-100" href="/budget/<%=moment(reqDate).subtract(1, 'months').format("YYYY-MM") %>"></a>
          </div>
          <form class="flex flex-col w-3/5 items-center lg:flex-row justify-center lg:items-start pb-5" action="/budget/:date?_method=GET"
          method="POST">
            <input type="month" id="month" name ="month" class="w-2/5 sm:w-4/5 input input-bordered"> 
            <input type="submit" class="submit btn btn-secondary bg-darkpink round m-0"> 
        </form>
          <div class="justify-end w-10">
            <a class="fa-solid fa-chevron-right text-2xl w-10 hover:text-base-100" href="/budget/<%=moment(reqDate).add(1, 'months').format("YYYY-MM") %>"></a>
          </div>
        </div>
        <h2 class="self-center card-title">You have not made a budget for <%= moment(reqDate).format("MMMM YYYY")%>. Click below to build your budget.</h2>
        <div class="card-actions mt-8">
          <a class="btn btn-neutral" href="/makeBudget">Make a New Budget</a>
        </div>
      </div>
    </div>
  <% }else { %> 
    <div class="card w-4/5 md:w-1/2 h-fit bg-secondary text-secondary-content shadow-xl my-10">
      <div class="flex flex-column justify-center card-body items-center text-center">
        <div class="flex justify-between w-full mb-5">
            <div class="justify-start w-10">
              <a class="fa-solid fa-chevron-left text-2xl w-10 hover:text-base-100" href="/budget/<%=moment(reqDate).subtract(1, 'months').format("YYYY-MM") %>"></a>
            </div>
            <form class="flex flex-col items-center lg:flex-row justify-center lg:items-start pb-5" action="/budget/:date?_method=GET"
              method="POST">
                <input type="month" id="month" name ="month" class="w-4/5 input input-bordered"> 
                <input type="submit" class="submit btn btn-secondary bg-darkpink round my-0"> 
          
            </form>
            <div class="justify-end w-10">
              <a class="fa-solid fa-chevron-right text-2xl w-10 hover:text-base-100" href="/budget/<%=moment(reqDate).add(1, 'months').format("YYYY-MM") %>"></a>
            </div>
        </div>
        <h2 class="self-center card-title">Your Budget for <%= moment(budget.date).format("MMMM YYYY")%></h2>
        <span> You have $<%= left %> left this month from your budget.</span>
        <div class="card-body w-96">
          <canvas id="myChart"></canvas>
        </div>
        <div class="flex justify-center card-actions mt-8">
            <a class="btn btn-neutral" href="/makeBudget">Make a New Budget</a>
            <a class="btn btn-accent" href="/editBudget/<%= reqDate %>">Edit Current Budget</a>
        </div>
        <div class=" w-10">
          <form action="/budget/deleteBudget/<%= budget._id %>?_method=DELETE"
          method="POST">
          <button type="submit" class="mb-2 fa-solid fa-trash-can text-2xl text-secondary-content hover:text-white hover:animate-bounce"></button>
          </form>
        </div>
      </div>
    </div>
  <% } %>
 
</main>

<script>
    let budget = <%- JSON.stringify(budget) %>
    console.log(budget.rent)

    const labels = [
    'Rent',
    'Utilities',
    'Car',
    'Gas',
    'Food',
    'Debt',
    'Subscriptions',
    'Savings',
    ]
  
    const data = {
      labels: labels,
      color: '#fff',
      datasets: [{
        label: 'My First dataset',
        backgroundColor: [
        'rgb(206	194	213)',
        'rgb(168	144	180)',
        'rgb(48	19	63)',
        'rgb(191	231	215)',
        'rgb(141	213	181)',
        'rgb(33	81	54)',
        'rgb(13	41	59)',
        'rgb(125	170	196)',
        ],
        color: '#fff',
        data: [ budget.rent, budget.utilities, budget.car, budget.gas, budget.food, budget.debt, budget.subscription, budget.savings ],
        hoverOffset: 4
      }]
    };
  
    const config = {
      type: 'pie',
      data: data,
      options: {
        plugins: {
            legend: {
                display: true,
                labels: {
                    color: '#fff'
      }
    }}}};
  </script>
  <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>



<%- include('partials/footer') -%>
