<%- include('partials/header') -%>

<main class="flex justify-center h-screen w-screen items-center bg-auto bg-repeat bg-center animate-ltr-linear-infinite" style="background-image: url(/imgs/dandelionBackground2.png)">
    <div class="card h-3/4 w-4/5 md:w-1/2 bg-secondary text-secondary-content shadow-xl my-10">
        <div class="card-body flex flex-col items-center justify-center mx-20">
            <h2 class="card-title text-secondary-focus font-bold" id="create">Edit your Budget for <%= moment(reqDate).format("MMMM YYYY")%> </h2>
            <form class="flex items-center justify-center flex-wrap" action="/budget/updateBudget/<%= budget._id %>?_method=PUT" method="POST">
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="fullBudget" class="font-bold"> Monthly Paycheck:</label>
                    <input id="fullBudget" type="number" name="fullBudget" value="<%= budget.monthBudget %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="rent" class="font-bold"> Rent:</label>
                    <input id="rent" type="number" name="rent" value="<%= budget.rent %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="utilities" class="font-bold"> Utilities:</label>
                    <input id="utilities" type="number" name="utilities" value="<%= budget.utilities %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="car" class="font-bold"> Car <span class="text-xs">(payment/insur.):</span></label>
                    <input id="car" type="number" name="car" value="<%= budget.car %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="gas" class="font-bold"> Gas:</label>
                    <input id="gas" type="number" name="gas" value="<%= budget.gas %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="food" class="font-bold"> Food:</label>
                    <input id="food" type="number" name="food" value="<%= budget.food %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="debt" class="font-bold"> Debt:</label>
                    <input id="debt" type="number" name="debt" value="<%= budget.debt %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="subscription" class="font-bold"> Subscription:</label>
                    <input id="subscription" type="number" name="subscription" value="<%= budget.subscription %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class="form-control my-5 px-2 w-full md:w-1/3">
                    <label for="savings" class="font-bold"> Savings:</label>
                    <input id="savings" type="number" name="savings" value="<%= budget.savings %>" class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div>
                    <input type="submit" class="submit btn btn-secondary bg-darkpink round my-5"> 
                </div>
            </form>
        </div>
    </div>
</main>

<%- include('partials/footer') -%>
