<%- include('partials/header') -%>

<div class="flex justify-center">
  <div class="flex justify-around mt-5 w-4/6">
    <div class="w-1/3 flex justify-end">
      <img class="w-80 pl-10" src="<%= post.image%>" />
    </div>
    <div class="flex w-2/3 flex-col items-center justify-around">
      <h2 class="text-2xl text-neutral text-center"><%= post.title %></h2>
      <p><%= post.caption %></p>
      <div class="flex w-1/3 justify-around">
        <div class="flex flex-col">
          <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST">
          <button class="btn btn-accent fa fa-heart" type="submit"></button>
          </form>
          <h3 class="col-3">Likes: <%= post.likes %></h3>
        </div>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-accent fa fa-trash" type="submit"></button>
        </form>
        <%}else{ %>
          <form
          action="/post/savePost/<%= post.id %>?"
          method="POST"
          class="col-3"
          >
          <button class="btn btn-accent fa-solid fa-bookmark" type="submit"></button>
        </form>
        <% }%>
      </div>
        <div class="col-6 mt-5">
          <a class="btn btn-secondary w-36 mr-4" href="/moodboard">Return to Moodboard</a>
          <a class="btn btn-secondary w-36 ml-4" href="/feed">Return to Feed</a>
        </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
