<%- include('partials/header') -%>

<main class="flex justify-center h-screen w-screen items-center bg-auto bg-repeat bg-center animate-ltr-linear-infinite" style="background-image: url(/imgs/dandelionBackground2.png)">
    <div class="card w-3/4 md:w-1/2 lg:w-auto lg:card-side shadow-xl my-10">
        <!-- To-Do List -->
        <figure class="bg-secondary text-secondary-content">
            <div class="card-body items-center text-center">
                <h2 class="card-title font-bold">To-Dos</h2>
                <h3>You have <%= left %> things left to do.</h3>
                <span class="notice">Click the task to mark complete and incomplete.</span>
                  <ul>
                      <% todos.forEach( el => { %>
                              <li class='todoItem' data-id='<%=el._id%>'>
                                  <span class='font-bold <%= el.completed === true ? 'completed line-through text-base-content' : 'not'%>'><%= el.todo %></span>
                                  <span>due on <%= moment(el.date).format("MMM Do") %></span>
                                  <span>@ <%= moment(el.time, "HH:mm:ss").format("h:mm A") %></span>
                                  <a href="/editTodo/<%= el._id %>" class="fa-regular fa-pen-to-square update hover:text-base-100"></a>
                                  <form action="/todos/deleteTodo/<%= el._id %>?_method=DELETE"
                                    method="POST">
                                        <button type="submit" class="fa-solid fa-trash-can del hover:text-base-100"></button>
                                  </form>
                              </li>
                      <% }) %>    
                   </ul>
              </div>
        </figure>

        <!-- Add To-Do Form -->
        <div class="card-body flex flex-col items-center justify-center bg-secondary-content text-secondary-focus">
            <h2 class="card-title text-secondary font-bold" id="create">Create a New To-Do:</h2>
            <form class="flex flex-col items-center justify-around" action="/todos/createTodo" method='POST'>
                <div class="form-control my-5">
                    <input type="text" placeholder="Enter Todo Item" name='todoItem' class="input input-bordered w-full max-w-xs h-10">
                </div>
                <div class=" my-5 w-full input-group">
                    <input type="date" placeholeer="Enter date" name ='date' class="input input-bordered "> 
                    <input type="time" placeholder="Enter time" name="time" class="input input-bordered ">
                </div>
                <div class="flex flex-col">
                    <label for="priority" class="font-bold"> Select task Priority:</label>
                    <select id="priority" name="priority" size="3" class="text-center items-center mt-3">
                        <option value="1">High</option>
                        <option value="2">Moderate</option>
                        <option value="3">Low</option>
                    </select>
                </div>
                <input type="submit" class="submit btn btn-secondary bg-pink round my-5"> </div>
            </form>
        </div>
    </div>
</main>

<script src="js/main.js"></script>

<%- include('partials/footer') -%>
